



body {

}
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
    box-sizing:border-box;
    justify-items: center;
    align-items: center;

html {
    scroll-behavior: smooth;
}

}


.container{
  width: 1280px;
  margin: auto;
}


/** Navigation **/
 .navbar {

   font-size: 24px;
   height: 0;
   color: #CCFFFF;
   position: relative;
   z-index: 2

}





.navbar .page{
  float: left;
  width: 40%;
  text-transform: uppercase;
}

.navbar .main{

  justify-self: end;
  float: right;
  width: 60%;
  margin-top: 15px

  text-align: center;
}
.navbar .main li{


display: inline-block;

padding: 10px 15px;
margin: 0 10px;
border-bottom: 2px solid transpent;

}
.navbar .main li a{
color: #FFF;
text-decoration: none;

}

.navbar .main li.active a,
.navbar .main li a:hover {
 color: #1abc9c;
}

.navbar .main li.active,
.navbar .main li:hover {
 border-bottom: 2px solid #C0C0C0;
}
/** Header **/
.header {
background: url('../img/anno1800-1.jpg');
position: relative;
}
.header .section
{
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  z-index: 1
}
.section {
    position: relative;
    min-height: 80vh;
}
.Gal {
    position: relative;
    text-align: center;
    height: 1500px;
    padding:15px;
}
.gwo {
    position: relative;
    text-align: center;
    height: 600px;
    padding:15px;
    background: whitesmoke;
}
.prd {
    position: relative;
    text-align: center;
    height: 600px;
    padding:15px;
}
.res {
    position: relative;
    text-align: center;
    height: 600px;
    padding:15px;
    background: whitesmoke;
}


ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}

/** footer **/
.footer {
    min-height: 100px;
    background: #232323;
    color: #EEE;
    text-align: center;
    font-weight: 600;
    overflow: hidden;
}
.footer .col
{
  width: 33%;
  float: left;

}
/*Framework*/



.clearfix{
  clear: both;
}

/*Framework End*/
